{% extends 'base.html' %} 
{% block title %}Password Saver{% endblock %}
{% block content %}
 {% if user.is_authenticated %}
<div class="row rows">
  <div class="col-md-6 colu">
    <form action="" method="POST">
      {% csrf_token %}

      <div class="comp">
        <label for="website_name">Website Name</label>
        <input
          type="text"
          placeholder="Website Name"
          name="website_name"
          class="form-control"
          required
        />
      </div>
      <div class="comp">
        <label for="website">Website Url</label>
        <input
          type="text"
          placeholder="Website Url"
          name="website"
          class="form-control"
          required
        />
        <small>Enter full url i.e with http:// or https://</small>
      </div>
      <input type="hidden" name="user_id" value="{{ user.id }}" />
      <div class="comp">
        <label for="Email_User">Email or Username</label>
        <input
          type="text"
          placeholder="Email or Username"
          name="Email_User"
          class="form-control"
          required
        />
      </div>
      <!-- <div class="comp">
        <label for="password">Website Password </label
        ><i class="fas fa-key"></i>
        <input
          type="password"
          placeholder="Password"
          name="password"
          class="form-control"
          required
        />
      </div> -->
      <div class="comp">
        <label for="password">Website Password </label><i class="fas fa-key"></i>
        <div class="div">
        <i class="fa-eye-slash fas img" onclick="chgeye('eyei')" id="show"></i>
        <input
          type="password"
          placeholder="Password"
          name="password"
          class="form-control"
          id="eyei"
          required
        />
      </div>
      </div>
      <div class="comp al">
        <button class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
  <div class="col-md-5">
    {% if websites %}
    <!-- <form action="search/{{ user.id }}" method="POST">
      {% csrf_token %}
      <input type="text" class="form-control" name="web" placeholder="Search" />
    </form> -->
    <h4>{{ websites|length }} passwords saved so far......</h4>
    {% for w in websites %}

    <div class="card1 card bg-light">
      <div name="name"><h4 style="text-align: center;">{{ w.website_name }}</h4></div>
      <div>
        <h4>
          <i class="fa-link fas"></i> 
          <a href="{{w.website_url }}" target="_blank" 
            >{{ w.website_url }}</a
          >
        </h4>
      </div>
      <div><h4><i class="fa-envelope fas"></i> {{ w.email}}</h4></div>
      <div>
        <h5>
          <i class="fa-key fas"></i>
          <!-- <input
            type="password"
            class="no"
            id="{{w.id}}"
            value="{{ w.password }}"
            disabled
          /> -->

            <span id="hide" class="bg-light"></span><input id="{{ w.id }}" type="password" value="{{ w.password }}" class="no bg-light" disabled aria-disabled="true" >
          <script>
            var hide = document.getElementById('hide');
            var txt = document.getElementById('{{w.id}}');
            //console.log(hide+" "+txt);
            resize();
            txt.addEventListener("input", resize);
            
            function resize() {
              hide.textContent = txt.value;
              c=(hide.offsetWidth)+5;
              txt.style.width = c + "px";
            }
          </script>
            <i class="fa-eye-slash fas" onclick="myFunc({{ w.id }})" id="a{{ w.id }}" style="cursor: pointer; text-align:right;"></i>
            <i class="fa-copy fas" onclick="copy({{ w.id }})" id="b{{ w.id }}" style="cursor: pointer; text-align:right;"></i>
        </h5>
      </div>
      <form
        action="update/{{ w.id }}/form"
        style="margin-bottom: 10px"
        method="POST"
      >
        {% csrf_token %}
        <button class="btn btn-primary bt">Edit</button>
      </form>
      <form action="{{ w.id }}" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger bt">Delete</button>
      </form>
    </div>

    {% endfor %} {% else %}
    <h4>No Passwords added</h4>
    {% endif %}
  </div>
</div>
{% else %} Please Register/Login to view this page {% endif %}{% endblock %}
