{% extends 'base.html' %} {% block content %}

<form action="register" method="POST" class="con">
  {% csrf_token %} {% for message in messages %}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';"
      >&times;</span
    >
    {{ message }}
  </div>
  {% endfor %}
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" />
  </div>
  <div>
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      name="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      name="password1"
      id="exampleInputPassword1"
    />
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" onclick="myFunction()" />
    <label class="form-check-label" for="exampleCheck1">Show Password</label>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input type="password" class="form-control" name="password2" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
